In [5]:
import pandas as pd
import mysql.connector
import numpy as np

In [12]:
df_buses_1 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_1.csv")
df_buses_2 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_2.csv")
df_buses_3 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_3.csv")
df_buses_4 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_4.csv")
df_buses_5 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_5.csv")
df_buses_6 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_6.csv")
df_buses_7 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_7.csv")
df_buses_8 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_8.csv")
df_buses_9 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_9.csv")
df_buses_10 = pd.read_csv(r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\df_buses_10.csv")

final_df = pd.concat([df_buses_1,df_buses_2,df_buses_3,df_buses_4,df_buses_5,df_buses_6,df_buses_7,df_buses_8,df_buses_9,df_buses_10],ignore_index=True)

In [ ]:
final_df

In [ ]:
final_df.info()

In [15]:
final_df["Price"] = final_df["Price"].fillna(final_df["price"])
final_df = final_df.drop(columns=["price"])

In [18]:
final_df["Price"] = final_df["Price"].astype(str).str.replace("INR", "").str.strip()
final_df["Price"] = final_df["Price"].astype(float)
final_df["Price"] = final_df["Price"].fillna(0)

In [ ]:
print(final_df["Price"].dtype)
print(final_df["Price"])

In [21]:
final_df["Ratings"] = final_df["Ratings"].astype(str)
final_df["Ratings"] = final_df["Ratings"].str.replace("New", "").str.strip()
final_df["Ratings"] = final_df["Ratings"].str.split().str[0]
final_df["Ratings"] = pd.to_numeric(final_df["Ratings"], errors='coerce')

In [ ]:
final_df.info()

In [23]:
final_df = final_df[final_df["Price"] <=7000]

In [24]:
final_df = final_df.replace({np.nan:None})

In [25]:
final_df['Seats_Available'] = final_df['Seats_Available'].fillna(0)

In [ ]:
print(final_df['Seats_Available'].isnull().sum()) 
final_df['Seats_Available'] = final_df['Seats_Available'].fillna(0)

In [ ]:
print(final_df['Bus_name'].isnull().sum()) 
final_df = final_df.dropna(subset=['Bus_name'])
final_df['Bus_name'] = final_df['Bus_name'].fillna('Unknown Bus')

In [28]:
final_df['Bus_type'] = final_df['Bus_type'].fillna('Unknown')

In [67]:
path =r"C:\Users\navee\OneDrive\Desktop\REDBUS_PROJECT\final_busdetails_df.csv"
final_df.to_csv(path,index=False)

CREATE A MYSQL DATABASE

In [ ]:
import mysql.connector
conn = mysql.connector.connect(
    host="localhost", 
    user="root", 
    password="20022004@Yuva"
)

my_cursor = conn.cursor()
my_cursor.execute("CREATE DATABASE IF NOT EXISTS RED_BUS_DATA")

my_cursor.close()
conn.close()

conn = mysql.connector.connect(
    host="localhost", 
    user="root", 
    password="20022004@Yuva", 
    database="RED_BUS_DATA"
)

my_cursor = conn.cursor()

print("Connected to RED_BUS_DETAILS database successfully!")

In [ ]:
my_cursor.execute("""
CREATE TABLE IF NOT EXISTS bus_details (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Bus_name VARCHAR(255) NOT NULL,
    Bus_type VARCHAR(255) NOT NULL,
    Start_time VARCHAR(255) NOT NULL,
    End_time VARCHAR(255) NOT NULL,
    Total_duration VARCHAR(255) NOT NULL,
    Price FLOAT NULL,
    Seats_Available VARCHAR(255) NOT NULL,
    Ratings FLOAT NULL,
    Route_link VARCHAR(255) NULL,
    Route_name VARCHAR(255) NULL
)
""")
print("Table Created Succesfully")

In [73]:
insert_query = """
    INSERT INTO bus_details (Bus_name, Bus_type, Start_time, End_time, Total_duration, Seats_Available, Ratings, Route_link, Route_name, Price)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [ ]:
final_df['Bus_name'] = final_df['Bus_name'].fillna('Unknown Bus')
data = final_df.values.tolist()
my_cursor.executemany(insert_query, data)
conn.commit()
print("Values inserted successfully!")

In [ ]:
insert_query = """INSERT INTO bus_details (
                    Bus_name,
                    Bus_type,
                    Start_time,
                    End_time,
                    Total_duration,
                    Seats_Available,
                    Ratings,
                    Route_link,
                    Route_name,
                    Price
                ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

data = final_df.values.tolist()

my_cursor.executemany(insert_query, data)

conn.commit()

print("Values inserted successfully!")

In [ ]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="localhost",  
    user="root",
    password="20022004@Yuva",
    database="red_bus_data"
)

query = "SELECT * FROM bus_details;"

df = pd.read_sql(query, conn)

conn.close()

print(df)

In [3]:
df.to_csv('C:/Users/navee/OneDrive/Desktop/REDBUS_PROJECT/redbus_data.csv', index=False)